body{
    background: #4a4d80;  
}

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(219, 218, 236, 0.774);
    align-items: center;
    align-content: center;
    box-shadow:3px 3px 15px rgba(206, 206, 206, 0.493);
    padding: 10px;
    padding-top: 20px;
    height: 550px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    margin-top: 50px;
   
  }

  .profile-pics{
      height: 170px;
      width: 150px;
      border-radius: 10px;
      box-shadow:3px 3px 15px rgba(206, 206, 206, 0.493);
  }
h4{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

p{
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
  }

  input[type=button] {
    display: block;
    margin: auto;
    background-color: #8c8cc2c9;
    color: white;
    padding: 1px 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: center;
    margin-top: 50px;
    height: 30px;
    width: 100px;
  
  }

  input[type=button]:hover {
    color: rgb(240, 237, 235);
    background-color: rgba(150, 146, 150, 0.89);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(206, 206, 206, 0.493);
  }  

  #goBack[type=button] {
    background-color: #efeff394;
    color: white;
    padding: 1px 1px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: center;
    margin-top: 50px;
    height: 30px;
    width: 100px;
  
  }

  #goBack[type=button]:hover {
    color: rgb(240, 237, 235);
    background-color: rgba(218, 162, 240, 0.719);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    box-shadow: 2px 2px 10px rgba(206, 206, 206, 0.493);
  }  

 
  /* Background */
  .ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }